<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
        initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>
        {% block title %}
        Мой сайт
        {% endblock %}
    </title>
</head>

<body>
    <div class="container-fluid">
        <ul class="nav nav-pills justify-content-end align-items-end">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Пользователи</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/all_users/">Все пользователи</a></li>
                    <li><a class="dropdown-item" href="/add_user/">Добавить пользователя</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Товары</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/all_products/">Все товары</a></li>
                    <li><a class="dropdown-item" href="/add_product/">Добавить товар</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Заказы</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/all_orders/">Все заказы</a></li>
                    <li><a class="dropdown-item" href="/add_order/">Добавить заказ</a></li>
                </ul>
            </div>
        </ul>
        {% block content %}
        Страница не заполнена
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>